* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
<<<<<<< HEAD
	font-size: 300px;
	text-align: center;
	color: #428F89;
=======
	font-size: 100px;
	text-align: center;
	color: red;
>>>>>>> ad71392ee46ddf739209b2af0e380d1c48a18a75
}
