
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";


* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}
//
// h1 {
// 	font-size: 75px;
// 	text-align: center;
//
// }
.thumbnail-container-single{
	h1{
		height: 200px;

	}
}
.sign-in-btn {
	margin-top: 10px;
	text-align: right;
}
.sign-out {
	margin-left: 10px;
}

.multi-container {
	width: 90%;
	margin: auto;
}

.multi-header,
.oops-header {
	position: relative;

	background: #5E9F41;
	// background-image: url('/images/full-garage-.jpg');
	// background-size: cover;
	// background-position: center center;
	// background-repeat: no-repeat;
	// opacity: .6;

	h1 {
		font-family: fantasy, sans-serif;
		font-weight: bolder;
		font-size: 100px;
		color: #000;
		text-shadow: 4px 4px 4px #4ac4b2;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
		padding-bottom: 30px;
			// text-shadow: 2px 2px 2px rgba(1,1,1,0.7);
	}
	h2 {
		position: absolute;

	}
}

.garage-pic {
	height: 375px;
	background-image: url('/images/full-garage-.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.multi-description {
	background-color: #E49D4A;
	h4 {
		width: 90%;
		margin-top: 20px;
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 1.5em;
	}
}

// .multi-img {
// 	width: 85%;
// }

.thumbnail a>img {
	max-width: 85%;
}

.multi-button-container {
	width: 100%;
	margin-top: 20px;
	button {
		width: 20%;
		background-color: #8CA387;
	}
}

.multi-icons {
	margin-left: 20px;
	margin-bottom: 40px;
	display: inline-block;
}


.multi-item-desc {
	overflow: auto;
	// white-space: nowrap;
	text-overflow: ellipsis;
}

// .row-eq-height {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display:         flex;
// }
//
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

// .multi-pic-body {
// 	display: table;
// }
//
// .multi-pic-body >[class*="col-"]{
//     margin-bottom: -99999px;
//     padding-bottom: 99999px;
// 	}

.copyright {
	margin-left: 100px;
}

.multi-item-info {
	padding-left: 4px;
	padding-right: 4px;
}

.multi-next-page {
	text-align: center;
	margin-bottom: 50px;
}


.auth-header-container {
	// height: 200px;
	background: #5E9F41;
	width: 90%;
	margin: auto;
	h2 {
		margin-top: 0px;
	}
}

.auth-header {
		// font-family: fantasy, sans-serif;
		// font-weight: bold;
		// font-size: 90px;
		// text-align: center;
		// padding-top: 50px;
		font-family: fantasy, sans-serif;
		font-weight: bolder;
		font-size: 100px;
		color: #000;
		text-shadow: 4px 4px 4px #4ac4b2;
		text-align: center;
		// padding-top: 60px;
		margin-top: 10px;
		padding-top: 15px;
		padding-bottom: 20px;
}

.auth-sign-in {
	text-align: center;
	color: #00DDD8;
	text-shadow: 5px 5px 5px rgba(1,1,1,0.7);
	// background-color: #517398;
}


	// color: #00DDD8;
	// text-shadow: 2px 2px 2px rgba(1,1,1,0.7);
	// background-color: #517398;


.auth-container-row {
	text-align: center;
	width: 90%;
	margin: auto;
	background-color: #FFC027;

}

.auth-user-container,
.auth-pass-container {
	margin-top: 20px;
	h2 {
		// font-size: 30px;

	}
	input {
		width: 80%;
		height: 30px;
		// font-size: 30px;
	}
}

.auth-btn-container {
	margin-bottom: 30px;
	padding-top: 10px;
	input {
		width: 80%;
		background-color: #6cf425;
	}
}

.auth-home-icon-container {
	text-align: right;
}

.auth-home-icon {
	margin-right: 60px;
}

.item-card{
	background-color: #E19D29;
	border-top: 50px;
	margin-top: 20px;
}
.profile-home-icon-container {
	text-align: right;
}

.profile-home-icon {
	margin-right: 60px;
}
// .profile-container {
// 	width: 90%;
// 	margin: auto;
// }

.profile-header {
	width: 90%;
	position: relative;
	height: 200px;
	background: #5E9F41;
	margin: auto;
	margin-top: 0px;
	h1 {
		font-family: fantasy, sans-serif;
		font-weight: bold;
		font-size: 90px;
		text-align: center;
		padding-top: 60px;
		margin-top: 0px;
			text-shadow: 2px 2px 2px rgba(1,1,1,0.7);
			font-family: fantasy, sans-serif;
			font-weight: bolder;
			font-size: 100px;
			color: #000;
			text-shadow: 4px 4px 4px #4ac4b2;
			text-align: center;
			padding-top: 60px;
			margin-top: 10px;

	}
	h2 {
		position: absolute;

	}
}

.profile-item-inputs {
	width: 80%;
	margin-top: 15px;
}

.single-home-icon-container{
	text-align: right;
	margin-right: 60px;
}

.single-header-container{

		h2{
			position: absolute;
		}
		h1{
			font-family: fantasy, sans-serif;
			font-weight: bold;
			font-size: 90px;
			text-align: center;
			padding-top: 60px;
			margin-top: 0px;
				text-shadow: 2px 2px 2px rgba(1,1,1,0.7);
		}
		background-color: #5E9F41;
		position: relative;
}
	.thumbnail-container{
		padding-top: 40px;
		background-color: #E19D29;
		border-top: 20px;
		margin-top: 20px;
	}
	.caption{
		color: white;
		text-shadow: .5px .5px .5px rgba(1,1,1,0.7);
		background-color: #E19D29;
	}


.profile-item-pic {
	height: 400px;
	border: 1px solid black;
	margin-top: 40px;
}

.profile-add-pic-btn {
	text-align: center;
}

.profile-add-btn {
	margin-top: 150px;
}

.profile-info {
	margin-top: 40px;
	text-align: center;
	input {
		text-align: center;
	}
}

.profile-email-holder {
	width: 80%;
}

.signout-container {
	text-align: center;
}

.thanks {
	// font-size: 50px;
	// line-height: .8em;
}

.come-again {
	// font-size: 25px;
}

.oops-container {
	width: 90%;
	margin: auto;
}

.oops-message {
	text-align: center;
	h1 {
		font-size: 80px;
	}
}

.oops-confused-pic {
	height: 200px;
	width: 200px;
	background-image: url('/images/confused-person-cartoon-face-web.gif');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: auto;
}

.item-desc{
	overflow: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
.oops-auth-btn {
	// font-size: 2em;
	height: 50px;
	width: 100px;
	margin-bottom: 40px;
}

.signout-container {
	width: 90%;
	margin: auto;
}
