
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";


* {
	box-sizing: border-box;
}

body{
	font-family: 'Ubuntu', sans-serif;
}


//========  multi page ===================
.multi-thumbnail-container {
	background-color:  #ECECEC;
	box-shadow: 6px 6px 6px grey;
}

.sign-in-btn {
	margin-top: 20px;
	text-align: center;
	padding-top: 10px;
	padding-left: 20px;
}

.about-us {
	margin-left: 10px;
	background-color: #6699CC;
	border-color: #ffcc33;
	border-style: solid;
  border-width: 2px;
  float: left;
	margin-top: 10px;
	color: white;
}

.sign-in {
	margin-left: 10px;
	background-color:  #6699CC;
	border-color: #ffcc33;
	border-style: solid;
  border-width: 2px;
	margin-top: 10px;
	color: white;
}

.add-item {
	margin-left: 10px;
	margin-right: 10px;
	background-color:  #6699CC;
	border-color: #ffcc33;
	border-style: solid;
	border-width: 2px;
	float: right;
	margin-top: 10px;
	text-align: right;
	color: #ffffff;
}

.sign-out {
	margin-left: 10px;
	margin-right: 10px;
	background-color:  #6699CC;
	border-color: #ffcc33;
	border-style: solid;
  border-width: 2px;
	float: right;
	margin-top: 10px;
	color: white;
}

.multi-container {
	width: 90%;
	margin: auto;
}

.multi-header {
	position: relative;
	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 100px;
		color: #00c6ff;
		text-shadow: 4px 4px 4px black;
		text-align: center;
		margin: 20px 80px 0 80px;
    padding-bottom: 15px;
    background: rgba(210, 202, 191, .9);
	}
	h2 {
		position: absolute;
		font-family: 'Ubuntu', sans-serif;
	}
}

.oops-header {
	position: relative;
	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 120px;
		color: #00c6ff;
		text-shadow: 5px 5px 5px black;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 10px;
	}
	h2 {
		font-family: 'Ubuntu', sans-serif;
		position: absolute;
	}
}

.garage-pic {
	height: 650px;
	background-image: url('/images/opening-image.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 4px 4px 4px grey;
}

.multi-description {
	color:black;
	text-shadow: .5px .5px .5px #00c6ff;
	h1 {
		font-family: 'Ubuntu', sans-serif;
		// font-size: 30px;
		text-align: center;
		width: 90%;
		margin-top: 20px;
		margin: auto;
		line-height: 1.5em;
		padding: 20px;

	}
}

.multi-button-container {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	button {
		width: 20%;
		background-color: #6699CC;
		border-color: #ffcc33;
		border-style: solid;
	  border-width: 3px;
		box-shadow: 5px 5px 5px grey;
		color: white;
		text-shadow: 1.5px 1.5px 1.5px black;

	}
}

.multi-icons {
	margin-left: 20px;
	margin-bottom: 40px;
	display: inline-block;
}


.multi-item-desc {
	overflow: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.is-flex > [className='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.copyright {
	margin-left: 100px;
	font-family: 'Ubuntu', sans-serif;
}

.multi-item-info {
	padding-left: 4px;
	padding-right: 4px;
}

.multi-next-page {
	text-align: center;
	margin-bottom: 50px;
}

.multi-anchor-to-single{
	height:300px;
	width: 100%;
	display:block;
	position:relative;
}

.multi-img{
	display: block;
	max-height: 300px;
	max-width: 100%;
	height:auto;
	position:absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

//========= end of multi page ==================

//==========  auth page ======================

.auth-header-container{
	width: 90%;
	position: relative;
	height: 200px;
	margin: auto;
	margin-top: 0px;
	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 120px;
		color: #00c6ff;
		text-shadow: 4px 4px 4px black;
		text-align: center;
		padding-top: 40px;
		margin-top: 10px;
	}
	h2 {
		position: absolute;
		font-family: 'Ubuntu', sans-serif;
	}
}
// .auth-header {
//   font-family: 'Ubuntu', sans-serif;
// 	font-weight: bolder;
// 	font-size: 100px;
// 	color: #00c6ff;
// 	text-shadow: 4px 4px 4px black;
// 	text-align: center;
// 	margin-top: 10px;
// 	padding-top: 15px;
// 	padding-bottom: 20px;
// }



.auth-sign-in {
	text-align: center;
	color:black;
}

.auth-container-row {
	text-align: center;
	color: black;
	width: 90%;
	margin: auto;
	background-color: #d6d0d0;
	box-shadow: 6px 6px 6px grey;
 .btn{
	background-color: #517398;
	border-color: #ffcc33;
	border-style: solid;
	border-width: 3px;
 }
}

.auth-user-container,
.auth-pass-container {
	margin-top: 20px;
	h2 {
	font-family: 'Ubuntu', sans-serif;
	}
	input {
		width: 80%;
		height: 30px;
		color: #000;
	}
}

.auth-btn-container {
	margin-bottom: 30px;
	padding-top: 10px;
	input {
		width: 80%;
	}
}

.auth-home-icon-container {
	text-align: right;
}

.auth-home-icon {
	position:fixed;
	top: 25px;
	right: 25px;
	z-index:999999;
}

.auth-input-label {
	margin-top: 5px;
	font-size: 1.4em;
}
//================ end of auth page =============================

.item-card{
	background-color: #517398;
	border-top: 50px;
	margin-top: 20px;
}

//========  profile page ============================
.profile-home-icon {
	position:fixed;
	top: 25px;
	right: 25px;
	z-index:999999;
}

.profile-header {
	width: 90%;
	position: relative;
	height: 200px;
	margin: auto;
	margin-top: 0px;
	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 100px;
		color: #00c6ff;
		text-shadow: 4px 4px 4px black;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
	}
	h2 {
		position: absolute;
		font-family: 'Ubuntu', sans-serif;
	}
}

.profile-item-inputs {
	width: 80%;
	margin-top: 15px;
}

.profile-info {
	h3 {
	line-height: .8em;
	font-family: 'Ubuntu', sans-serif;
 }
}

.profile-add-container {
	text-align: center;
	display: block;
	margin: auto;
	vertical-align: bottom;
}

.profile-item-pic {
	height: 400px;
	border: 1px solid black;
	margin-top: 40px;
	box-shadow: 6px 6px 6px grey;
	input {
		margin-top: 20px;
		margin-left: 30%;
	}
	img {
		margin-left: 30%;
	}
}

.profile-add-pic-btn {
	display: block;
	margin: auto;
	margin-top: 410px;
	// vertical-align: bottom;
}

.profile-add-btn {
	margin-top: 50px;
	box-shadow: 4px 4px 4px grey;
}

.profile-info {
	margin-top: 40px;
	text-align: center;
	input {
		text-align: center;
	}
}

.profile-email-holder {
	width: 80%;
}

.profile-dropdown-box {
	margin: 20px auto 0;
	// width: 100px;
	height: 30px;
}

.profile-dropdown-select {
	height:40px;
	width: 150px;
}

.profile-image {
	width: 80%;
	height: auto;
	display: block;
}

// .profile-item-pic {
// 	height: 400px;
// 	border: 1px solid black;
// 	margin-top: 40px;
// }
.profile-item-pic {
	height: 400px;
	border: 1px solid black;
	margin-top: 40px;
}

//=============  single page =========================

.thumbnail-container-single{
	h1{
		height: 200px;
	}
}
.single-home-icon-container{
	position:fixed;
	top: 25px;
	right: 75px;
	z-index:999999;
 }

.single-header-container{
	position: relative;
	h1{
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 120px;
		color: #0375B4;
		text-shadow: 4px 4px 4px grey;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 10px;
	}
	h2{
		position: absolute;
		font-family: 'Ubuntu', sans-serif;
	}
}

	.single-thumbnail-container{
		padding-top: 40px;
		background-color: #ECECEC;
		border-top: 20px;
		margin-top: 20px;
		margin: auto;
		box-shadow: 6px 6px 6px grey;
	}

.single-image{
	width: 50%;
}

.single-item-header {
	width: 90%;
	margin: auto;
}

.confirm-rental-btn{
	// position:relative;
  // top: 0%;
  // right: 15%;
	margin-bottom: 300px;
	border-color: #ffcc33;
	color: white;
	border-style: solid;
	border-width: 3px;
	background-color: #0375B4;
	height: 65px;
	font-size:20px;
}
// .map-container{
//   position: relative;
//   left: 200px;
// }


// 	h2{
// 		position: absolute;
// 	}
// 	h1{
// 		font-family: 'Ubuntu', sans-serif;
// 		color: #00c6ff;
// 		font-weight: bold;
// 		font-size: 120px;
// 		text-align: center;
// 		padding-top: 60px;
// 		padding-bottom: 30px;
// 		margin-top: 0px;
// 			text-shadow: 4px 4px 4px black;
// 	}
// }
.single-thumbnail-container{
	padding-top: 40px;
	background-color: #00c6ff;
	border-top: 20px;
	margin-top: 20px;
	margin: auto;
}

.map-container{
	height: 300px;
	width: 300px;
	display:inline-block;
	position: relative;
	left: 200px;
	box-shadow: 9px 9px 9px grey;
}


// ===========================confirm-rental page==========
.confirm-home-icon-container{
	text-align: right;
	margin-right: 60px;
}

.confirm-header-container {
	width: 90%;
	margin: auto;
	position: relative;
	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 120px;
		color: #00c6ff;
		text-shadow: 5px 5px 5px black;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 10px;
	}
}

.rental-body-container.text-center{
	width: 90%;
	padding-left: 100px;
}

//=============  signed out/logoff page ====================

.signout-container {
	width: 90%;
	margin: auto;
	text-align: center;
}

.signout-thanks {
	font-size: 70px;
	// line-height: .8em;
}

.signout-come-again {
	font-size: 50px;
	margin-bottom: 30px;
}

//=============  oops page ==============================


.oops-header {
	position: relative;
	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 120px;
		color: #00c6ff;
		text-shadow: 5px 5px 5px black;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 10px;
	}
	h2 {
		font-family: 'Ubuntu', sans-serif;
		position: absolute;
	}
}

.oops-container {
	width: 90%;
	margin: auto;
}

.oops-message {
	text-align: center;
	h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 80px;
	}
}

.oops-confused-pic {
	height: 200px;
	width: 200px;
	background-image: url('/images/confused-person-cartoon-face-web.gif');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: auto;
}

.oops-auth-btn {
	height: 50px;
	width: 100px;
	margin-bottom: 40px;
}

//================ end of oops page ===============================

.item-desc{
	overflow: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//============  about page =============================

.about-header {
	position: relative;
	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 120px;
		color: #00c6ff;
		text-shadow: 5px 5px 5px black;
		text-align: center;
		// padding-top: 60px;
		margin-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 0px;
	}
	h2 {
		position: absolute;
	}
}
.about-us-page-container {
	width: 90%;
	margin: auto;
}

.about-us-container {
	h1{
		font-family: 'Ubuntu', sans-serif;
		font-size: 40px;
		text-align: center;
	}
	p {
		font-family: 'Ubuntu', sans-serif;
		font-size: 2em;
		margin: 30px 20px 30px 60px;
	}
}

.about-home-icon-container {
	text-align: right;
}

.about-home-icon {
	margin-right: 60px;
}

//===================== end of about page ==================

// .map-container{
// 	height: 300px;
// 	width: 300px;
// 	display:block;
// 	margin: -220px 0 20px 70%;
// }
