
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";


* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}


.thumbnail-container-single{
	h1{
		height: 200px;
	}
}


//========  multi page ===================
.multi-thumbnail-container{
	background-color:  #00c6ff;

}

.sign-in-btn {
	margin-top: 20px;
	text-align: right;
	padding-top: 10px;
	padding-left: 20px;
}
.about-us {
	margin-left: 10px;
	background-color:  #00c6ff;
	border-color: #ffcc33;
	border-style: solid;
  border-width: 2px;
}

.sign-in {
	// margin-left: 20px;
	// text-align: left;
	margin-left: 10px;
	background-color:  #00c6ff;
	border-color: #ffcc33;
	border-style: solid;
  border-width: 2px;
}

.sign-out {
	margin-left: 10px;
	margin-right: 10px;
	background-color:  #00c6ff;
	border-color: #ffcc33;
	border-style: solid;
  border-width: 2px;
}

.multi-container {
	width: 90%;
	margin: auto;
}

.multi-header,
.oops-header {
	position: relative;
	background: #5E9F41;
	// h1 {
		// font-family: monospace, sans-serif;
		// font-weight: bolder;
		// font-size: 80px;
		// color: #000;
	  // background: #649173; opacity: 0.9;
  // opacity:1;
	// background-image: url('/images/full-garage-.jpg');
	// background-size: cover;
	// background-position: center center;
	// background-repeat: no-repeat;
	// opacity: .6;

	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 120px;
		color: #00c6ff;
		text-shadow: 5px 5px 5px black;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 0px;
	}
	h2 {
		position: absolute;

	}
}

.garage-pic {
	height: 375px;
	background-image: url('/images/full-garage-.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.multi-description {
	background-color: #00c6ff;

	h1 {
		font-size: 45px;
		text-align: center;
		width: 90%;
		margin-top: 20px;
		margin: auto;
		line-height: 1.5em;
		padding: 20px;
	}
}

// .thumbnail a>img {
// 	max-width: 85%;
// }
// .multi-img {
// 	width: 85%;
// }



.multi-button-container {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	button {
		width: 20%;
		background-color: #00c6ff;
		border-color: #ffcc33;
		border-style: solid;
	  border-width: 3px;
	}
}

.multi-icons {
	margin-left: 20px;
	margin-bottom: 40px;
	display: inline-block;
}


.multi-item-desc {
	overflow: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// .row.is-flex {
//     display: flex;
//     flex-wrap: wrap;
// }
// .row.is-flex > [class*='col-'] {
//     display: flex;
//     flex-direction: column;
// }


// .is-flex {
// =======

.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.is-flex > [className='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
// .img {
// object-fit: cover;
// }

// .match-my-cols {
//     overflow: hidden;
// }
//
// .match-my-cols [class*="col-"]{
//     margin-bottom: -99999px;
//     padding-bottom: 99999px;
// }

.copyright {
	margin-left: 100px;
}

.multi-item-info {
	padding-left: 4px;
	padding-right: 4px;
}

.multi-next-page {
	text-align: center;
	margin-bottom: 50px;
}

.multi-anchor-to-single {
	height: 300px;
	width: 100%;
	display: block;
	position: relative;
}

.multi-img {
	display: block;
	max-height: 300px;
	max-width: 100%;
	height: auto;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%
}

//========= end of multi page ==================

//==========  auth page ======================

.auth-header-container {
	background: #5E9F41;
	width: 90%;
	margin: auto;
	h2 {
		margin-top: 0px;
	}
}

.auth-header {
		font-family: fantasy, sans-serif;
		font-weight: bolder;
		font-size: 100px;
		color: #000;
		text-align: center;
		margin-top: 10px;
		padding-top: 15px;
		padding-bottom: 20px;
}

.auth-sign-in {
	text-align: center;
	color: #00DDD8;
}

.auth-container-row {
	text-align: center;
	width: 90%;
	margin: auto;
	background-color: #FFC027;

}

.auth-user-container,
.auth-pass-container {
	margin-top: 20px;
	h2 {

	}
	input {
		width: 80%;
		height: 30px;
	}
}

.auth-btn-container {
	margin-bottom: 30px;
	padding-top: 10px;
	input {
		width: 80%;
		background-color: #6cf425;
	}
}

.auth-home-icon-container {
	text-align: right;
}

.auth-home-icon {
	margin-right: 60px;
}
//================ end of auth page =============================

.item-card{
	background-color: #E19D29;
	border-top: 50px;
	margin-top: 20px;
}

//========  profile page ============================

.profile-home-icon-container {
	text-align: right;
}

.profile-home-icon {
	margin-right: 60px;
}

.profile-header {
	width: 90%;
	position: relative;
	height: 200px;
	background: #5E9F41;
	margin: auto;
	margin-top: 0px;
	h1 {
		font-family: fantasy, sans-serif;
		font-weight: bolder;
		font-size: 100px;
		color: #000;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
	}
	h2 {
		position: absolute;

	}
}

.profile-item-inputs {
	width: 80%;
	margin-top: 15px;
}

.profile-info {
	h3 {
	line-height: .8em;
 }
}

.profile-add-container {
	text-align: center;
	display: block;
	margin: auto;
	vertical-align: bottom;
}

.profile-item-pic {
	height: 400px;
	border: 1px solid black;
	margin-top: 40px;
	input {
		margin-top: 20px;
		margin-left: 30%;
	}
	img {
		margin-left: 30%;
	}
}

.profile-add-pic-btn {
	// text-align: center;
	display: block;
	margin: auto;
	margin-top: 410px;
	// vertical-align: bottom;
}

.profile-add-btn {
	margin-top: 50px;
}

.profile-info {
	margin-top: 40px;
	text-align: center;
	input {
		text-align: center;
	}
}

.profile-email-holder {
	width: 80%;
}

.profile-dropdown-box {
	margin: 20px auto 0;
	// width: 100px;
	height: 30px;
}

.profile-dropdown-select {
	height:40px;
	width: 150px;
}

.profile-image {
	width: 80%;
	height: auto;
	display: block;
}


//=============  single page =========================

.single-home-icon-container{
	text-align: right;
	margin-right: 60px;
}

.single-header-container{
	background-color: #649173;
	position: relative;
	h2{
		position: absolute;
	}
	h1{
		font-family: 'Ubuntu', sans-serif;
		color: #00c6ff;
		font-weight: bold;
		font-size: 120px;
		text-align: center;
		padding-top: 60px;
		padding-bottom: 30px;
		margin-top: 0px;
			text-shadow: 4px 4px 4px black;
	}
}
.single-thumbnail-container{
	padding-top: 40px;
	background-color: #00c6ff;
	border-top: 20px;
	margin-top: 20px;
	margin: auto;
}



	// .caption{
	// 	color: white;
	// 	text-shadow: .5px .5px .5px rgba(1,1,1,0.7);
	// 	background-color: #E19D29;
	// }
.confirm-home-icon-container{
	text-align: right;
	margin-right: 60px;
}

.confirm-header-container {
	width: 90%;
	margin: auto;
	position: relative;
	background: #649173; opacity: 0.9;
	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 120px;
		color: #00c6ff;
		text-shadow: 5px 5px 5px black;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 10px;
	}
}

.single-item-header {
	width: 90%;
	margin: auto;
}

.single-home-icon-container{
	text-align: right;
	margin-right: 60px;
}

.single-header-container{

		h2{
			position: absolute;
		}
		h1{
			font-family: fantasy, sans-serif;
			font-weight: bold;
			font-size: 90px;
			text-align: center;
			padding-top: 60px;
			padding-bottom: 30px;
			margin-bottom: 0px;
		}
		background-color: #5E9F41;
		position: relative;
}

.single-thumbnail-container{
	padding-top: 40px;
	background-color: #E19D29;
	border-top: 20px;
	// margin-top: 20px;
}

.single-image {
	width: 50%;
}

//=============  signed out/logoff page ====================

.signout-container {
	width: 90%;
	margin: auto;
	text-align: center;
}

.signout-thanks {
	font-size: 70px;
	// line-height: .8em;
}

.signout-come-again {
	font-size: 50px;
	margin-bottom: 30px;
}

//=============  oops page ==============================

.oops-container {
	width: 90%;
	margin: auto;
}

.oops-message {
	text-align: center;
	h1 {
		font-size: 80px;
	}
}

.oops-confused-pic {
	height: 200px;
	width: 200px;
	background-image: url('/images/confused-person-cartoon-face-web.gif');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: auto;
}

.oops-auth-btn {
	// font-size: 2em;
	height: 50px;
	width: 100px;
	margin-bottom: 40px;
}

//================ end of oops page ===============================

.item-desc{
	overflow: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//============  about page =============================

.about-header {
	position: relative;
	background: #5E9F41;
	h1 {
		font-family: monospace, sans-serif;
		font-weight: bolder;
		font-size: 80px;
		color: #000;
		text-align: center;
		padding-top: 60px;
		margin-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 0px;
	}
	h2 {
		position: absolute;

	}
}


.about-us-page-container {
	width: 90%;
	margin: auto;
}

.about-us-container {
	// text-align: center;
	// width: 90%;
	h1{
		font-size: 40px;
		text-align: center;
	}
	p {
		font-size: 1.8em;
		margin: 30px 20px 30px 60px;
	}
}

.about-home-icon-container {
	text-align: right;
}

.about-home-icon {
	margin-right: 60px;
}

//===================== end of about page ==================

.map-container{
	height: 300px;
	width: 300px;
	display:inline-block;
	margin: -150px 0 20px 70%;
}
